<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Chat</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font: 16px 'Poppins', sans-serif;
        }
        
        h1 {
            margin: 20px;
        }
        
        form {
            background: #eee;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        form input {
            font: 16px 'Poppins', sans-serif;
            border: solid 1px rgb(150, 150, 150);
            padding: 20px;
            width: 85%;
            margin-right: .5%;
        }
        
        form input:focus {
            outline: none;
        }
        
        .btn {
            width: 9%;
            color: #fff;
            background: rgb(94, 204, 31);
            border: none;
            padding: 20px;
            margin-left: 4%;
        }
        
        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        #messages li {
            padding: 5px 10px;
        }
        
        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

</head>

<body>
    <h1>Your Messages:</h1>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
        <input id="txt" autocomplete="off" autofocus="on" placeholder="Type your message:" />
        <button class="btn">Send</button>
    </form>

    <script>
        let socket = io.connect('http://localhost:8080');

        // submit text message without reload/refresh the page
        $('form').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat_message', $('#txt').val());
            $('#txt').val('');
            return false;
        });
        // append the chat text message
        socket.on('chat_message', function(msg) {
            $('#messages').append($('<li>').html(msg));
        });
        // append text if someone is online
        socket.on('is_online', function(username) {
            $('#messages').append($('<li>').html(username));
        });
        // ask username
        let username = prompt('Please tell me your name');
        socket.emit('username', username);
    </script>

</body>

</html>